/* Color Presets */
:root {
  --red:#e01f27;
  --orange:#f06151;
  --yellow:#fbbd5e;
  --green:#52b148;
  --lightblue:#31a1da;
  --darkblue:#1a5897;
  --purple:#5c50a1;
  --pink:#b54f9b;
  --white:#d7f9f8;
  --lightgrey:#9ac3e0;
  --mediumgrey:#617b8c;
  --darkgrey:#313e47;
  --black:#00202e;
  --bgblack:#121619;
}


/* Fonts */
@font-face {
  font-family:'ToshibaSat 8x14';
  src:url(https://cyberia.robeson.me/fonts/WebPlus_ToshibaSat_8x14.woff) format('woff');
  font-weight:400;
  font-style:normal
}
@font-face {
  font-family:'ToshibaSat 8x8';
  src:url(https://cyberia.robeson.me/fonts/Web437_ToshibaSat_8x8.woff) format('woff');
  font-weight:400;
  font-style:normal
}

/* Standard elements */
::selection {
  background-color:var(--red)
}
img {
  max-width:100%;
  max-height:100%;
  margin-top:20px;
  margin-bottom:20px;
  border-radius:16px;
  margin-left:auto;
  margin-right:auto;
  display:block
}
code {
  background-color:var(--lightgrey);
  border-radius:16px;
  padding-left:30px;
  padding-right:30px;
  line-height:2em;
  padding-top:1px;
  padding-bottom:1px;
  color:var(--yellow);
  font-family:"ToshibaSat 8x14",'Courier New',Courier,monospace;
  font-weight:400;
  font-style:normal
}
pre {
  overflow-x:auto;
  white-space:pre-wrap;
  white-space:-moz-pre-wrap;
  white-space:-pre-wrap;
  white-space:-o-pre-wrap;
  word-wrap:break-word
}
blockquote {
  border-left:1px solid var(--yellow);
  display:block;
  margin-top:1em;
  margin-bottom:1em;
  margin-left:30px;
  padding-left:10px;
  margin-right:40px;
  font-style:italic;
  color:var(--green)
}
hr {
  color:var(--yellow);
  margin-left:auto;
  margin-right:auto;
  max-width:300px
}
#endline {
  color:var(--yellow);
  margin-left:auto;
  margin-right:auto;
  max-width:300px;
  margin-top:80px
}
a {
  color:var(--yellow);
  text-decoration:none
}
p a::before {
  content:"["
}
p a::after {
  content:"]"
}
h1 {
  background-color:var(--darkgrey);
  color:var(--yellow);
  font-size:1.2rem;
  display:block;
  width:fit-content;
  max-width:46%;
  padding:8px;
  box-shadow:.5rem .5rem 0 #000,inset 0 0 0 0.2rem var(--lightblue);
  border:0.4rem solid var(--darkgrey)
}
tr:nth-child(odd) {
  background-color:var(--darkgrey)
}
td a {
  display:block
}
tr:hover {
  background:var(--red)
}



/* Page elements */

html * {
  font-family:"ToshibaSat 8x14",sans-serif;
  font-size:20px;
}
body {
  background-color:var(--bgblack);
  margin:2rem auto;
  max-width:850px;
  line-height:1;
  padding:0 0.5rem;
  color:var(--white)
}

.logobox {
  align-items:center;
  overflow:hidden;
  color:var(--yellow);
  background-color:var(--darkgrey);
  box-shadow:.5rem .5rem 0 #000,inset 0 0 0 0.2rem var(--orange);
  border:0.4rem solid var(--darkgrey);
  margin-bottom: 1rem;
}



.logo {
  font-family:"ToshibaSat 8x14",monospace;
  width:100%;
  font-size: clamp(.4rem, 2vw, 1rem);
  box-sizing:border-box;
  padding:10px;
  text-align:center;
  align-items:center;
  overflow:hidden;
}
.topbar {
  padding:8px;
  color:var(--orange);
  background-color:var(--darkblue);
  text-align:center;
  display:block;
  align-self:right;
  box-shadow:.5rem .5rem 0 #000,inset 0 0 0 0.2rem var(--orange);
  border:0.4rem solid var(--darkblue)
}
.topbar a {
  color:var(--yellow);
  text-decoration:none;
  white-space:nowrap
}
.date {
  font-size:13px;
  background-color:var(--darkgrey);
  color:var(--lightgrey);
  display:block;
  width:fit-content;
  padding:8px;
  box-shadow:.5rem .5rem 0 #000,inset 0 0 0 0.2rem var(--lightblue);
  border:0.4rem solid var(--darkgrey)
}
/* Align the date to the right on wide screens, wrap on small screens */
@media screen and (max-width:500px) {
  .date {
    text-align:right
  }
}
@media screen and (min-width:501px) {
  .date {
    float:right;
    margin-left:30px
  }
}
.footer {
  box-shadow:.5rem .5rem 0 #000,inset 0 0 0 2px var(--orange);
  border:0.4rem solid var(--darkgrey);
  color:var(--lightgrey);
  background-color:var(--darkgrey);
  font-size:12px;
  margin-top:120px;
  text-align:center
}
.footer a {
  color:var(--orange)
}
/* Disable the ::before and ::after pseudo-elements in the footer */
.footer a::before {
  content:""
}
.footer a::after {
  content:""
}
/* Table of Contents */
.arise-toc-td-date {
  vertical-align:top;
  border-width:0;
  border-color:var(--yellow);
  border-top-style:solid;
  text-align:left;
  padding:6px;
  white-space:nowrap
}
.arise-toc-td-title {
  vertical-align:top;
  border-width:0;
  border-color:var(--yellow);
  border-top-style:solid;
  text-align:left;
  padding:6px
}
.arise-toc-td-desc {
  vertical-align:top;
  border-width:0;
  border-color:var(--yellow);
  border-top-style:solid;
  text-align:left;
  padding:6px
}
.arise-toc-th-date {
  background-color:var(--darkgrey);
  padding:8px;
  box-shadow:inset 0 0 0 2px var(--lightblue);
  border:0.4rem solid var(--darkgrey)
}
.arise-toc-th-title {
  background-color:var(--darkgrey);
  padding:8px;
  box-shadow:inset 0 0 0 2px var(--lightblue);
  border:0.4rem solid var(--darkgrey)
}
.arise-toc-th-desc {
  background-color:var(--darkgrey);
  padding:8px;
  box-shadow:inset 0 0 0 2px var(--lightblue);
  border:0.4rem solid var(--darkgrey)
}
/* Hide the description column on mobile */
@media only screen and (max-width:600px) {
  .arise-toc-td-desc {
    display:none
  }
  .arise-toc-th-desc {
    display:none
  }
}


/* Cusdis Classes */
.cmt-box, .grid-cols-1, .my-4,.comments {
  font-size:14px;
  background-color:var(--darkgrey);
  color:var(--lightgrey);
  display:block;
  width:95%;
  padding:.5rem;
  line-height: 1.5;
  box-shadow:.5rem .5rem 0 #000,inset 0 0 0 0.2rem var(--lightblue);
  border:0.4rem solid var(--darkgrey);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.cmt-author-line {
  background-color: var(--black);
  padding:8px;
  margin-left: -6px;
  margin-top: -6px;
  width:102%;
  display:inline-block;
  border-bottom-width: 2px;
  border-bottom-color:var(--lightblue)
}
.cmt-author {
  float:inline-start;
}

/* pixeled round corners from https://pixelcorners.lukeb.co.uk/?radius=2&multiplier=1 */
.cmt-mod {
  width:fit-content;
  float:inline-start;
  padding-left:12px;
  padding-right:10px;
  clip-path: polygon(
    0px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 3px),
    6px calc(100% - 3px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 3px,
    3px 3px,
    3px 6px,
    0px 6px
  );
}
.cmt-date {
  float:inline-end;
}
.w-full {
  padding-bottom: 20px;
  margin-bottom: 20px;
  color:var(--black);
  background-color:var(--orange);
  box-shadow:.5rem .5rem 0 #000,inset 0 0 0 0.2rem var(--darkblue);
}
button {
  font-size:0.8rem;
  background-color:var(--yellow);
  color:var(--black);
  display:block;
  width:fit-content;
  padding:0.4rem;
  box-shadow:.5rem .5rem 0 #000,inset 0 0 0 0.2rem var(--black);
  border:0.4rem solid var(--yellow)
}