:root {
        --red:#e01f27;
        --orange:#f06151;
        --yellow:#fbbd5e;
        --green:#52b148;
        --lightblue:#31a1da;
        --darkblue:#1a5897;
        --purple:#5c50a1;
        --pink:#b54f9b;
        --white:#d7f9f8;
        --lightgrey:#9ac3e0;
        --mediumgrey:#617b8c;
        --darkgrey:#313e47;
        --black:#00202e
      }
      html * {
        font-family:"ToshibaSat 8x14",sans-serif
      }
      body {
        margin:40px auto;
        max-width:650px;
        line-height:1;
        font-size:14px;
        padding:0 10px;
        color:var(--white)
      }
      .material-symbols-outlined {
        font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24
      }
      @font-face {
        font-family:'ToshibaSat 8x14';
        src:url(/config/fonts/WebPlus_ToshibaSat_8x14.woff) format('woff');
        font-weight:400;
        font-style:normal
      }
      @font-face {
        font-family:'ToshibaSat 8x8';
        src:url(/config/fonts/Web437_ToshibaSat_8x8.woff) format('woff');
        font-weight:400;
        font-style:normal
      }
      img {
        max-width:100%;
        max-height:100%;
        margin-top:20px;
        margin-bottom:20px;
        border-radius:16px;
        margin-left:auto;
        margin-right:auto;
        display:block
      }
      code {
        background-color:var(--lightgrey);
        border-radius:16px;
        padding-left:30px;
        padding-right:30px;
        line-height:2em;
        padding-top:1px;
        padding-bottom:1px;
        color:var(--yellow);
        font-family:"ToshibaSat 8x14",'Courier New',Courier,monospace;
        font-weight:400;
        font-style:normal
      }
      pre {
        overflow-x:auto;
        white-space:pre-wrap;
        white-space:-moz-pre-wrap;
        white-space:-pre-wrap;
        white-space:-o-pre-wrap;
        word-wrap:break-word
      }
      blockquote {
        border-left:1px solid var(--yellow);
        display:block;
        margin-top:1em;
        margin-bottom:1em;
        margin-left:30px;
        padding-left:10px;
        margin-right:40px;
        font-style:italic;
        color:var(--green)
      }
      hr {
        color:var(--yellow);
        margin-left:auto;
        margin-right:auto;
        max-width:300px
      }
      #endline {
        color:var(--yellow);
        margin-left:auto;
        margin-right:auto;
        max-width:300px;
        margin-top:80px
      }
      a {
        color:var(--yellow);
        text-decoration:none
      }
      p a::before {
        content:"["
      }
      p a::after {
        content:"]"
      }
      h1 {
        background-color:var(--darkgrey);
        color:var(--yellow);
        font-size:18px;
        display:block;
        width:fit-content;
        max-width:46%;
        padding:8px;
        box-shadow:5px 5px 0 #000,inset 0 0 0 2px var(--lightblue);
        border:4px solid var(--darkgrey)
      }
      tr:nth-child(odd) {
        background-color:var(--darkgrey)
      }
      td a {
        display:block
      }
      tr:hover {
        background:var(--red)
      }
      .crt-logo {
        font-family:"ToshibaSat 8x14",monospace;
        font-size:14px;
        padding:10px;
        text-align:center;
        align-items:center;
        overflow:hidden;
        color:var(--yellow);
        background-color:var(--darkgrey);
        box-shadow:5px 5px 0 #000,inset 0 0 0 2px var(--orange);
        border:4px solid var(--darkgrey)
      }
      @media screen and (max-width:600px) {
        .crt-logo {
          font-size:10px
        }
      }
      @media screen and (max-width:450px) {
        .crt-logo {
          font-size:10px
        }
      }
      .topbar {
        padding:8px;
        color:var(--orange);
        background-color:var(--darkblue);
        text-align:center;
        display:block;
        align-self:right;
        box-shadow:5px 5px 0 #000,inset 0 0 0 2px var(--orange);
        border:4px solid var(--darkblue)
      }
      .topbar a {
        color:var(--yellow);
        text-decoration:none
      }
      .date {
        font-size:13px;
        background-color:var(--darkgrey);
        color:var(--lightgrey);
        display:block;
        width:fit-content;
        padding:8px;
        box-shadow:5px 5px 0 #000,inset 0 0 0 2px var(--lightblue);
        border:4px solid var(--darkgrey)
      }
      @media screen and (max-width:500px) {
        .date {
          text-align:right
        }
      }
      @media screen and (min-width:501px) {
        .date {
          float:right;
          margin-left:30px
        }
      }
      .footer {
        box-shadow:5px 5px 0 #000,inset 0 0 0 2px var(--orange);
        border:4px solid var(--darkgrey);
        color:var(--lightgrey);
        background-color:var(--darkgrey);
        font-size:12px;
        margin-top:120px;
        text-align:center
      }
      .footer a {
        color:var(--orange)
      }
      .footer a::before {
        content:""
      }
      .footer a::after {
        content:""
      }
      .arise-toc-td {
        vertical-align:top;
        border-width:0;
        border-color:var(--yellow);
        border-top-style:solid;
        text-align:left;
        padding:6px
      }
      .arise-toc-td-desc {
        vertical-align:top;
        border-width:0;
        border-color:var(--yellow);
        border-top-style:solid;
        text-align:left;
        padding:6px
      }
      .arise-toc-th {
        background-color:var(--darkgrey);
        padding:8px;
        box-shadow:inset 0 0 0 2px var(--lightblue);
        border:4px solid var(--darkgrey)
      }
      .arise-toc-th-desc {
        background-color:var(--darkgrey);
        padding:8px;
        box-shadow:inset 0 0 0 2px var(--lightblue);
        border:4px solid var(--darkgrey)
      }
      @media only screen and (max-width:600px) {
        .arise-toc-td-desc {
          display:none
        }
        .arise-toc-th-desc {
          display:none
        }
      }
      