@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/config/fonts/material_icons.woff2) format('woff2');
}

@font-face {
    font-family: 'orbitronregular';
    font-style: normal;
    font-weight: 700;
    src: url(/config/fonts/orbitron-variablefont_wght-webfont.woff2) format('font/woff2'),
         url(/config/fonts/orbitron-variablefont_wght-webfont.woff) format('font/woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'space_grotesklight';
    font-style: normal;
    font-weight: 400;
    src: url(/config/fonts/spacegrotesk-variablefont_wght-webfont.woff2) format('font/woff2'),
         url(/config/fonts/spacegrotesk-variablefont_wght-webfont.woff) format('font/woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'syne_monoregular';
    font-style: normal;
    font-weight: 400;
    src: url(/config/fonts/synemono-regular-webfont.woff2) format('font/woff2'),
         url(/config/fonts/synemono-regular-webfont.woff) format('font/woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'tekturregular';
    font-style: normal;
    font-weight: 500;
    font-stretch: 75%;
    src: url(/config/fonts/tektur-variablefont_wdthwght-webfont.woff2) format('font/woff2'),
         url(/config/fonts/tektur-variablefont_wdthwght-webfont.woff) format('font/woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.tekturregular {
  font-family: "tekturregular", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 75;
}


.orbitronregular {
  font-family: "orbitronregular", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.syne_monoregular {
    font-family: "syne_monoregular", serif;
    font-weight: 400;
    font-style: normal;
  }


.space_grotesklight {
  font-family: "space_grotesklight", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}